body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#title {
  margin-left: 66px;
  font-size: 1.5rem;
}

.option-card-title {
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20pt;
  font-weight: 500;
  padding-left: 10pt;
}

.option-card {
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20pt;
}

.option-entry {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 46px;
}

.option-entry__name {
  flex-grow: 2;
  font-size: 1rem;
  align-items: flex-start;
  margin: auto 0;
}

.title-container {
  flex-grow: 2;
  align-items: flex-start;
  margin: auto 0;
}

.option-entry__title {
  flex-grow: 2;
  font-size: 1rem;
  align-items: flex-start;
  margin: auto 0;
  font-weight: bold;
}

.option-entry__subtitle {
  flex-grow: 2;
  font-size: 0.7rem;
}

.option-entry__action {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
  align-self: flex-end;
  margin: auto 9pt;
}

/* Materialize css hack to remove bottom margin of select input */
.option-entry__action > div.select-wrapper > input.select-dropdown {
  margin-bottom: 0;
}

.option-entry__decorator {
  flex-shrink: 0;
  align-self: flex-end;
  margin: auto 0;
}

.select-dropdown {
  margin-bottom: 0;
}

.drop-overlay {
  width: 60%;
  height: 60%;
  margin-left: 20%;
  margin-top: 10%;
  position: absolute;
  background-color: #505050aa;
  z-index: -1;
  border-radius: 10pt;
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events:none;
}

.drop-overlay_content {
  color: white;
  font-size: 25pt;
  pointer-events:none;
  margin: 10pt;
  text-align:center;
}

.hidden {
  display: none;
}

.dropzone {
  box-sizing: border-box;
	position: fixed;
	width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
}
